.hero {
  background-image: url("../Images/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  width: 100%;
  height: 140vh;
}
