.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkblue;
  color: $cloud;
  font-size: 1.4em;
}

.navLinks {
  display: inline-block;
  position: relative;
  color: $cloud;
  font-family: $karla;
}

.navLinks::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: $yellow;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navLinks:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

//keeps visited navbar links the same color when clicked or visited
.navLinks,
.navLinks:visited {
  text-decoration: none;
}
//used for navLinks
.fade-in-top {
  -webkit-animation: fade-in-top 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.6s both;
  animation: fade-in-top 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.6s both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
