*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  margin-top: 5vh;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

.panels:hover {
  cursor: pointer;
}

.panel {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  color: #79c0d7;
  background-image: url(../Images/threaderzzz.jpg);
  background-color: #79c0d7;
  font-family: $karla;
}

.panel2 {
  color: #ffb2b2;
  background-image: url(../Images/pickee.jpg);
  background-color: #ffb2b2;
  font-family: $karla;
}

.panel3 {
  color: #84a35f;
  background-image: url(../Images/iloveavocados.jpg);
  background-color: #84a35f;
  font-family: $karla;
}

.panel4 {
  color: #ffffff;
  background-image: url(../Images/hexclock.jpg);
  background-color: #ffffff;
  font-family: $karla;
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 4;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}

.githubProject {
  text-decoration: none;
  color: $yellow;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-in-left {
  -webkit-animation: slide-in-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
