.stackContainer {
  font-size: 3em;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding: 5px;
}

.icons {
  text-align: center;
  padding: 2px;
}

.iconNames {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.2em;
  font-weight: 700;
  font-family: $karla;
  padding: 5px;
}

.babelIcon {
  font-family: "Permanent Marker", cursive;
  transform: rotate(350deg);
  font-size: 0.6em;
}

.babelName {
  transform: rotate(10deg);
  font-family: $karla;
  font-size: 0.35em;
  padding-top: 15px;
}

.fa-react {
  color: $react;
}
.fa-js-square {
  color: $javascript;
}
.fa-rss {
  color: $jquery;
}
.fa-retweet {
  color: $ajax;
}
.fa-html5 {
  color: $html;
}
.fa-css3 {
  color: $css;
}
.fa-box-open {
  color: $flexbox;
}
.fa-sass {
  color: $sass;
}
.fa-bold {
  color: $bootstrap;
}
.fa-node {
  color: $node;
}
.fa-npm {
  color: $npm;
}
.fa-server {
  color: $express;
}
.fa-yarn {
  color: $yarn;
}
.fa-git {
  color: $git;
}
.fa-github {
  color: $github;
}
.fa-aws {
  color: $aws;
}
.fa-fish {
  color: $mysql;
}
.fa-envira {
  color: $mongodb;
}
.fa-cogs {
  color: $apis;
}
.fa-connectdevelop {
  color: $eslint;
}
.fa-korvue {
  color: $heroku;
}
.babelIcon {
  color: $babel;
}
.fa-code-branch {
  color: $regex;
}
