// fonts
$karla: "Karla", sans-serif;
$script: "Euphoria Script", cursive;

// colors
$yellow: #ffdb58;
$darkblue: #364b71;
$cloud: #d2e1ff;

$react: #61dafb;
$javascript: #f7df1e;
$jquery: #0769ad;
$ajax: #308ac9;
$eslint: #4930bd;
$html: #dd4b25;
$css: #1a6fb4;
$flexbox: #1b84c1;
$sass: #cd6799;
$bootstrap: #563d7c;
$node: #026e00;
$express: #77b063;
$yarn: #2b8ab5;
$git: #e84e31;
$github: #302e2f;
$mysql: #00618b;
$mongodb: #599642;
$heroku: #645fa1;
$apis: #c4c4c6;
$regex: #80c0f0;
$npm: #cb3837;
$babel: #ffe440;
$aws: #f0931c;
